.container {
    display: flex;
    transition-timing-function: ease-out;
    transition-duration: 1s;
}

.wrapper {
    width: 300px;
    overflow: hidden;
    position: relative;
}

.btns {
    padding: 10px;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.product-btn {
    position: absolute;
    bottom: 4px;
    width: 100%;
    cursor: pointer;
    background: gray;
    padding: 6px;
    border: none;
}

.indicator-wrapper {
    inset: 0;
    position: absolute;
    bottom: 40;
    right: 0;
    left: 0;
}

.indicators {
    inset: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40;
    gap: 4px;
    height: fit-content;
}

.progress-bar {
    width: 70px;
    height: 5px;
    background-color: gray;
    border: 2px solid;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    width: 100%;
    background-color: black;
}